<div class="container">
  <div class="row">
    <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book01" src="https://i.imgur.com/EvNZ793.jpg"/> 
              </div> 
                <h3>From third World to First</h3>
                 <p>700 Pages of inspirational book about Li kuan yu, a leader who transformed Singapore</p>
              </a> 
    <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book02" src="https://i.imgur.com/pRo1KMT.jpg"/> 
              </div> 
                <h3>Tesla, Man out of Time</h3>
                 <p>Read about the gretest 19th Centutry Scientist who inveted Wireless transmission of power, Alternating current, Radio. etc</p>
              </a> 
    <a class="col-md-6 book" href="#">
        <div class="thumbnail">
             <img alt="book02" src="https://i.imgur.com/LCNBYyP.jpg"/> 
              </div> 
                <h3>Wealth of Nations</h3>
                 <p>Published in 1776 is a master of piece of how nations get Rich</p>
              </a>  

    <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book01" src="https://i.imgur.com/ma4HY19.jpg"/> 
              </div> 
                <h3>Runyoro-Rutooro Dictionary</h3>
                 <p>This is my Mother Tongue language and i have to keep it rolling</p>
              </a> 
     
     <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book03" src="https://i.imgur.com/OPhaGBX.jpg"/> 
              </div> 
                <h3>Things Fall Apart</h3>
                 <p>Things Indeed fell apart when the Europeans colonised Africa. This is a must read</p>
              </a> 
      <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book04" src="https://i.imgur.com/Mknol7I.jpg"/> 
              </div> 
                <h3>A thousand Years of Bunyoro Kitara Kingdom</h3>
                 <p>Those who leave in EastAfrica, Great laekes regions have probably read about the Bachwezi Empire</p>
              </a> 
      <a class="col-md-6 book" href="$"> 
        <div class="thumbnail">
             <img alt="book05" src="https://i.imgur.com/KRA2vYa.jpg"/> 
              </div> 
                <h3>Rise and fall of the Bristish Empire</h3>
                 <p>Aif you are interested in Politics of the British, They this book has a wealth of information about British rule and its politics</p>
              </a>    
      <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book06" src="https://i.imgur.com/5XqOYP9.jpg"/> 
              </div> 
                <h3>Thomas Sankara</h3>
                 <p>The Selfless African revolutionary who fought to see change in his Burkinafaso African nation</p>
              </a>   
      <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book07" src="https://i.imgur.com/qVsZzXE.jpg"/> 
              </div> 
                <h3>The Rule of law</h3>
                 <p>if you want to know the difference between civil law and common laws and how they have helped Bristih and America Prosper, then read this book</p>
              </a> 
      <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book08" src="https://i.imgur.com/rMER9IG.jpg"/> 
              </div> 
                <h3>The Art of War</h3>
                 <p>The Art of War remains the most influential strategy text in East Asian warfare.[1] It has a profound influence on both Eastern and Western military thinking, business tactics, legal strategy and beyond.</p>
              </a>       
      <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book09" src="https://i.imgur.com/9otX9mg.jpg"/> 
              </div> 
                <h3>The Darkest Africa</h3>
                 <p>This books was Written in 1886 by Bristih Explorer Henry Marton Stanley, It gives an account of what was happening in Africa during those times.</p>
              </a> 
      <a class="col-md-6 book" href="#"> 
        <div class="thumbnail">
             <img alt="book09" src="https://i.imgur.com/rHf3ZVi.jpg"/> 
              </div> 
                <h3>My Overall Collection</h3>
                 <p>Knwoledge is Power, Embrace yourself in the world of Knwoledge</p>
              </a>   
       </div>
    </div>  