<div class="container">
  <div class="contact">
      <h2>Contact Me</h2>

<form action="mailto:kasaijaakiiki@gmail.com" method="post" enctype="text/plain">
       Name:<br>
    <input type="text" name="name"><br>
       E-mail:<br>
    <input type="text" name="mail" ><br>
       Message:<br>
    <input type="text" name="comment" size="50" id="mail"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
</form>
</div>
</div>


<div class="container">
  <div class="fees">
     <a href="https://www.paypal.com/us/home"><h3>Consulation Fees: $49</h3></a>
  </div>
</div>


<div class="container">
  <div class="contact-icons">
    <a href="https://www.linkedin.com/"><img src="https://i.imgur.com/m9JLOTi.png" ></a>
    <a href="https://plus.google.com/u/0/100307354690774158685"><img src="https://i.imgur.com/HAUe8qZ.png" ></a>
    <a href="https://mail.google.com/mail"><img src="https://i.imgur.com/ZmeLQMh.png" ></a>
    <a href="https://i.imgur.com/GpU9fn2.png"><img src="https://i.imgur.com/GpU9fn2.png" ></a>
  </div>
</div>

