
<form id="form1"> 
	<div class="tree" id="FamilyTreeDiv">
		<ul>
	     <li>
	     	 <div>
				<span class="female">Grand Mom <br>1910 - 1978</span>
				<span class="spacer"></span>
				<span class="male">Grand Dad <br> 1907 - 1980</span>
			</div>
         </li>

		<li>

               	<div>
            		<span class="male">Dad <br>1935 - 1998</span>
            	</div>
        
		<ul>
			<li>
				<div>
					<span class="female">Wife 1931 - </span>
				</div> 
		<ul>
			<li>
				<div>
					<span class="male">Me 198* - </span>
				</div>
			</li>
			<li>
				<div>
					<span class="male">Brother 1990 - </span>
				</div>

		<ul>
	    	<li> 
	    		<div>
	    			<span class="male">Son 2016 - </span>
	    		</div>
	    	</li>
	    </ul>
			</li>
		</ul>
	</li>

	        <li>
	        	<div>
	        		<span class="female">Wife 1933 - </span>
	        	</div>
	    <ul>
	    	<li>
	    		<div>
	    			<span class="male">Brother 1979 - </span>
	    		</div>
	        </li>
 
            <li>
            	<div>
            		<span class="male">Brother 1984 - </span>
            	</div>
            </li>

            <li>
            	<div>
            		<span class="female">Sister 1983 - </span>
            	</div>
            </li>

        </ul>
    </li>
 
    <li>
           <div>
            		<span class="female">Wife <br> 1945 - 1989</span>
            	</div>

           <ul>

            <li>
            	<div>
            		<span class="female">Sister 1975 - </span>
            	</div>

            	<ul>
	    	        <li> 
	    		      <div>
	    			    <span class="male">Son 1991 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <span class="female">daughter 1993 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <span class="female">daughter 1996 - </span>
	    		     </div>
	    	         </li>
	            </ul>

            </li>

        </ul>

   </li>

   <li>
         <div>
            <span class="female">Wife <br>1955 - 1988</span>
         </div>
          <ul>
            <li>
            	<div>
            		<span class="male">Brother 1970 - </span>
            	</div>

            	<ul>
	    	        <li> 
	    		      <div>
	    			    <span class="male">Son 1995 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <span class="male">son 1997 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <span class="male">son 1999 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <span class="female">daughter 2002 - </span>
	    		     </div>
	    	         </li>
	            </ul>

            </li>

        </ul>
   </li>


      <li>
         <div>
            <span class="female">Wife <br>1965 - 2001</span>
         </div>

          <ul>
            <li>
            	<div>
            		<span class="male">Brother 1973 - </span>
            	</div>
            </li>
        </ul>
   </li>



        </ul>
    </li>
</ul>
</div>
</form>