
<div class="formPassword">
<form>
    <label for="pswd">Enter password: </label>
    <input type="password" id="pswd">
    <input type="button" value="Submit" onclick="checkPswd();" />
</form>
</div>