

<form id="form1"> 
	<div class="tree" id="FamilyTreeDiv">
		<ul>
	     <li>
	     	 <div>
				<span class="female">Grand Mom <br> Adyeeri Nanganda <br>Dorotia <br>1910 - 1978 <br><br>Great GrandMan <br> Tigulyera Yeresi</span>
				<span class="spacer"></span>
				<span class="male">Grand Dad <br>Ateenyi Yeremia <br>Babwongerereize <br> 1907 - 1980 <br><br>Great GrandPa <br> Samwiri Rwagunagire</span>
			</div>
         </li>

		<li>

               	<div>
            		<img src="https://i.imgur.com/T0Ym7az.png"<span class="male"><br>Dad <br>Akiiki Kasaija <br> Everest <br>1935 - 1998</span>
            	</div>
        
		<ul>
			<li>
				<div>
					<a href="/familyMom"><img src="https://i.imgur.com/Q36sHhz.jpg"<span class="female"><br>Wife <br>Amooti Katusabe <br>Mary Linda <br>1931 - </span></a>
				</div> 
		<ul>
			<li>
				<div>
					<img src="https://i.imgur.com/Stk5BaY.jpg"<span class="male"><br>Me <br>Akiiki kasaija <br> Kugonza <br>198* - </span>
				</div>
			</li>
			<li>
				<div>
					<img src="https://i.imgur.com/Yyo4igI.png"<span class="male"><br>Brother <br> Araali Kasaija <br> Nuwagaba <br>1990 - </span>
				</div>

		<ul>
	    	<li> 
	    		<div>
	    			<img src="https://i.imgur.com/LlmTesx.jpg"<span class="male"><br>Son <br> Apuuli Kasaija <br>Kamara <br>2016 - </span>
	    		</div>
	    	</li>
	    </ul>
			</li>
		</ul>
	</li>

	        <li>
	        	<div>
	        		<img src="https://i.imgur.com/QeElHm6.png"<span class="female"><br>Wife <br> Ateenyi Pauline <br> Lubega <br>1933 - </span>
	        	</div>
	    <ul>
	    	<li>
	    		<div>
	    			<img src="https://i.imgur.com/0oZq46r.jpg"<span class="male"><br>Brother <br> Amooti Isazi <br> Moses <br>1979 - </span>
	    		</div>
	        </li>
 
            <li>
            	<div>
            		<img src="https://i.imgur.com/gblFM6f.jpg"<span class="male"><br>Brother <br>Atwooki Kabengo <br> Paul <br> 1984 - </span>
            	</div>
            </li>

            <li>
            	<div>
            		<img src="https://i.imgur.com/fFQbDAJ.jpg"<span class="female"><br>Sister <br>Abwooli Kazazi <br>Diana<br> <1983 - </span>
            	</div>
            </li>

        </ul>
    </li>
 
    <li>
           <div>
            		<span class="female">Wife <br> 1945 - 1989</span>
            	</div>

           <ul>

            <li>
            	<div>
            		<img src="https://i.imgur.com/TXCSf1o.jpg"<span class="female"><br>
            	</div>

            	<ul>
	    	        <li> 
	    		      <div>
	    			    <img src="https://i.imgur.com/MMsNm4i.jpg"<span class="male"><br>Son <br> Namugera Jimmy <br>1991 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <img src="https://i.imgur.com/GczSN4y.jpg"<span class="female"><br>daughter <br> Nakuya Winnie <br>1993 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <img src="https://i.imgur.com/0T0ktqB.png"<span class="female"><br>daughter <br>Wanyana Diana <br>1996 - </span>
	    		     </div>
	    	         </li>
	            </ul>

            </li>

        </ul>

   </li>

   <li>
         <div>
            <span class="female">Wife <br>1955 - 1988</span>
         </div>
          <ul>
            <li>
            	<div>
            		<img src="https://i.imgur.com/LeFxwiO.jpg"<span class="male"><br>Brother <br> Apuuli Magezi <br> Edward<br> 1970 - </span>
            	</div>

            	<ul>
	    	        <li> 
	    		      <div>
	    			    <img src="https://i.imgur.com/7Yg0EWM.jpg"<span class="male"><br>Son <br> Akiiki Donald <br>Magezi <br>1995 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <img src="https://i.imgur.com/7Yg0EWM.jpg"<span class="male"><br>son <br> Ateenyi Arnold <br> Magezi <br>1997 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <img src="https://i.imgur.com/7Yg0EWM.jpg"<span class="male"><br>son <br> Abbooki Arold <br> Magezi <br>1999 - </span>
	    		     </div>
	    	         </li>
	            </ul>

	            <ul>
	    	        <li> 
	    		      <div>
	    			    <span class="female">daughter 2002 - </span>
	    		     </div>
	    	         </li>
	            </ul>

            </li>

        </ul>
   </li>


      <li>
         <div>
            <span class="female">Wife <br>1965 - 2001</span>
         </div>

          <ul>
            <li>
            	<div>
            		<img src="https://i.imgur.com/iygTPEQ.png"<span class="male"><br>Brother <br>Amooti Tugume <br> Henry <br>1973 - </span>
            	</div>
            </li>
        </ul>
   </li>



        </ul>
    </li>
</ul>
</div>
</form>