
<div class="container">
    <div class="about">
       <h2>What My Leadership will Provide for UNAA</h2>
      <ol id="ol">
       <li>I admire the Indian Website called <a href="http://us.sulekha.com/">http://us.sulekha.com/</a>, I will work on improving the UNAA Website  to the extent of sulekha</li>
       <li>With my leadership, i will make sure we have scholarships, We can afford to bring entertainers/musicians at a tune of $10,000 but can't give out scholarship of even $5,000. We can start with scholarships as simple as</li>
       <ul id="ul">
         <li>CNA Certifications </li>
         <li>CDL Training </li>
         <li>Online IT classes. etc</li>
       </ul>
       
       <li>As an IT/Computer Science and Economics person , I will mentor and guide the diaspora community interested in these fields</li>
       </ol>
       
     </div>
  </div>

  <div class="container">
    <div class="about" id="about">
       <img src="https://i.imgur.com/8BKzson.jpg">
    </div>
  </div>

  <div class="container">
    <div class="about">
       <h2>Leadership Experience</h2>
         </div>
  </div>

<div class="container">
  <div class="about">
    <div class="col-md-6">
       <img src="https://i.imgur.com/NVAjd51.jpg"/>
    </div>
    <div class="col-md-6">
       <h3><span>Publicity secretary </span> 2014 - 2016</h3>
       <p>Pacific Northwest Uganda American Association(PNUAA)</p>
       <h3><span>Achievements</span></h3> 
       <p>Built a <span>Website</span> for the Community <a href="http://pnuaawa.org" >www.pnuaawa.org</a></p>
       <p>Pioneered the Starting of the <span>Youth day</span> which is still going on</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="about">
    <div class="col-md-6">
       <h3><span>Vice President </span> 2016 - Present</h3>
       <p>Bunyoro-Kitara North America Association(BUKNAA)</p>
       <h3><span>Achievements</span></h3> 
       <p>Built a <span>Website</span> for the Organisation <a href="http://bunyorokitarana.org" >www.bunyorokitarana.org</a></p>
       <p>Created an <span>Online</span> dictionary <a href="http://runyorodictionary.com" >www.runyorodictionary.org</a></p>
       <p>Started the <span>BUKNAA Investment Club</span></p>
    </div>
  <div class="col-md-6">
       <img src="https://i.imgur.com/HkFWMf6.jpg"/>
    </div>
  </div>
</div>

<div class="container">
  <div class="about">
      <div class="col-md-6">
       <img src="https://i.imgur.com/SjQcU2K.png"/>
    </div>
    <div class="col-md-6">
       <h3><span>Publicity Secretary </span> 2015 - Present</h3>
       <p>Washington Coalition of Africa Community Leaders</p>
       <h3><span>Achievements</span></h3> 
       <p>Built a <span>Website</span> for the Organisation <a href="http://wcacl.org" >www.wcacl.org</a></p>
       <p>Pioneered the establishment of the Organiation with <span>Tina Abdul-Aziza</span></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="about">
    <div class="col-md-6">
       <h3><span>Communications Minister </span> 2008 - 2009</h3>
       <p>Makerere University - Livingston Hall of Residence</p>
       <h3><span>Achievements</span></h3> 
       <p>I was in charge of publishing a student magazine and distributing daily newspapers to halls of residence, i was
able to receive a  <span>certificate of effective performance</span></p>
    </div>
  <div class="col-md-6">
       <img src="https://i.imgur.com/tMc5W1y.jpg"/>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <a class="col-md-6 project">
      <iframe width="450" height="270" src="https://www.youtube.com/embed/fROYYLwTsd0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>Reporting at the 20th Havard Africa Business Conference</h3>
          </a>    
     <a class="col-md-6 project"> 
      <iframe width="460" height="270" src="https://www.youtube.com/embed/NjuYjXACS6E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>Challenging the Panelist at the 20th Harvard Africa Business conference</h3>
              </a> 
     <a class="col-md-6 project"> 
      <iframe width="450" height="270" src="https://www.youtube.com/embed/FIacdBeNTS0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>Challenging Bobi Wine on Leadership</h3>
              </a>   
    <a class="col-md-6 project"> 
      <iframe width="460" height="270" src="https://www.youtube.com/embed/nBQ3_7jF3Zg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>GoogleGroup Training Video</h3>
              </a>                
       </div>
    </div>  


<div class="container">
  <div class="about">
    <div class="col-md-6">
       <h2>Presentations</h2>
        <%= link_to "unaa 2017 Presentation", "/unaatechforum.pdf" %>
    </div>
  </div>
</div>
