<div class="container">
  <div class="row">
    <a class="col-md-6 project">
      <iframe width="450" height="270" src="https://www.youtube.com/embed/fROYYLwTsd0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>Reporting at the 20th Havard Africa Business Conference</h3>
          </a>    
     <a class="col-md-6 project"> 
      <iframe width="460" height="270" src="https://www.youtube.com/embed/NjuYjXACS6E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>Challenging the Panelist at the 20th Harvard Africa Business conference</h3>
              </a> 
     <a class="col-md-6 project"> 
      <iframe width="450" height="270" src="https://www.youtube.com/embed/FIacdBeNTS0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>Challenging Bobi Wine on Leadership</h3>
              </a>   
    <a class="col-md-6 project"> 
      <iframe width="460" height="270" src="https://www.youtube.com/embed/nBQ3_7jF3Zg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3>GoogleGroup Training Video</h3>
              </a>                
       </div>
    </div>  

<div class="container">
  <div class="about">
    <div class="col-md-6">
       <img src="https://i.imgur.com/NVAjd51.jpg"/>
    </div>
    <div class="col-md-6">
       <h3><span>Publicity secretary </span></h3>
       <p>Pacific Northwest Uganda American Association(PNUAA)</p>
       <h3><span>Achievements</span></h3> 
       <p>Built a <span>Website</span> for the Community <a href="http://pnuaawa.org" >www.pnuaawa.org</a></p>
       <p>Pioneered the Starting of the <span>Youth day</span> which is still going on</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="about">
    <div class="col-md-6">
       <h3><span>Vice President </span></h3>
       <p>Bunyoro-Kitara North America Association(BUKNAA)</p>
       <h3><span>Achievements</span></h3> 
       <p>Built a <span>Website</span> for the Organisation <a href="http://bunyorokitarana.org" >www.bunyorokitarana.org</a></p>
       <p>Started the <span>BUKNAA Investment Club</span></p>
    </div>
  <div class="col-md-6">
       <img src="https://i.imgur.com/HkFWMf6.jpg"/>
    </div>
  </div>
</div>