   <div class="slider">
        <ul>
          <li><img src="https://i.imgur.com/GWepEQu.png"></li>
          <li><img src="https://i.imgur.com/sFJRK4l.png"></li>
          <li><img src="https://i.imgur.com/QsTxDOY.png"></li>
          <li><img src="https://i.imgur.com/ZEX7Hg1.png"></li>
          <li><img src="https://i.imgur.com/bUYSg9K.png"></li>
          <li><img src="https://i.imgur.com/2c8X3Ko.png"></li>
          <li><img src="https://i.imgur.com/BjrCBpl.png"></li>
          <li><img src="https://i.imgur.com/xktjMZN.png"></li>
          <li><img src="https://i.imgur.com/9EgtsTT.png"></li>
          <li><img src="https://i.imgur.com/3oX4caN.png"></li>
          <li><img src="https://i.imgur.com/njune4A.png"></li>
          <li><img src="https://i.imgur.com/E8z6Qgb.png"></li>
          <li><img src="https://i.imgur.com/et0X2mD.png"></li>
       </ul>
   </div>

<div class="container">
  <div class="row">
    <a class="col-md-6 project" href="#"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/GWepEQu.png" /> 
              </div> 
                <h3>Bolt Network Movie App</h3>
                 <p>This App lets you get all your favorite movies on a go: Bolt !.</p>
              </a> 
     <a class="col-md-6 project" href="#"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/sFJRK4l.png" /> 
              </div> 
                <h3>BookMarks App</h3>
                 <p>The App that lets you rank your favorite books.</p>
              </a> 
     <a class="col-md-6 project" href="#"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/GWepEQu.png" /> 
              </div> 
                <h3>TravelGo’s Booking App</h3>
                 <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p>
              </a> 
      <a class="col-md-6 project" href="#"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/sFJRK4l.png" /> 
              </div> 
                <h3>TravelGo’s Booking App</h3>
                 <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p>
              </a> 
       </div>
    </div>  
                  