   
<div class="slider">
        <ul>
          <li><img src="https://i.imgur.com/c6MbZwh.png"></li>
          <li><img src="https://i.imgur.com/3oX4caN.png"></li>
          <li><img src="https://i.imgur.com/PJ6x9f4.png"></li>

          <li><img src="https://i.imgur.com/E8z6Qgb.png"></li>
          <li><img src="https://i.imgur.com/XbQSa6O.png"></li>

          <li><img src="https://i.imgur.com/k7wnWwA.png"></li>
          <li><img src="https://i.imgur.com/gcUUBNs.png"></li>
          <li><img src="https://i.imgur.com/M7aJvSj.png"></li>
          
          <li><img src="https://i.imgur.com/Wb0jHH8.png"></li>
          <li><img src="https://i.imgur.com/3dcR0py.png"></li>
          <li><img src="https://i.imgur.com/tHmp63E.png"></li>

          <li><img src="https://i.imgur.com/bUYSg9K.png"></li>
          <li><img src="https://i.imgur.com/2c8X3Ko.png"></li>
          <li><img src="https://i.imgur.com/BjrCBpl.png"></li>
          <li><img src="https://i.imgur.com/xktjMZN.png"></li>
          <li><img src="https://i.imgur.com/9EgtsTT.png"></li>       
          
       </ul>
   </div>

<div class="container">
  <div class="row">
    <a class="col-md-6 project" href="http://www.abantu.africa/"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/xOk3PeM.png" /> 
              </div> 
                <h3>Abantu Africa</h3>
                 <p>News Music Travel and Business in and around Africa</p>
              </a> 
    <a class="col-md-6 project" href="http://www.italiantouchmasonry.com/">
        <div class="thumbnail">
             <img alt="Project02" src="https://i.imgur.com/gcUUBNs.png"/> 
              </div> 
                <h3>Italian Touch Masonry</h3>
                 <p>A Website that provides Masonry services in the Seattle-Tacoma Area</p>
              </a>  
    <a class="col-md-6 project" href="http://www.wcacl.org/"> 
        <div class="thumbnail">
             <img alt="Project03" src="https://i.imgur.com/PJ6x9f4.png" /> 
              </div> 
                <h3>Washington State Coalition fo African Coummnity Leaders</h3>
                 <p>The Organisation brings all the African leaders in Washington state to collaborate and share resources</p>
              </a> 
    <a class="col-md-6 project" href="http://www.bunyorokitarana.org/"> 
        <div class="thumbnail">
             <img alt="Project10" src="https://i.imgur.com/XbQSa6O.png"/> 
              </div> 
                <h3>Bunyoro-Kitara North America Association (BUKNAA)</h3>
                 <p>A NonProfit Organisation that brings all the Banyoro together in North America</p>
              </a> 
    <a class="col-md-6 project" href="https://secure-atoll-17420.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project04" src="https://i.imgur.com/M7aJvSj.png" /> 
              </div> 
                <h3>Bolt Network</h3>
                 <p>This App lets you get all your favorite movies on a go </p>
              </a> 
     <a class="col-md-6 project" href="https://frozen-sands-84032.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project05" src="https://i.imgur.com/Wb0jHH8.png"/> 
              </div> 
                <h3>BookReview</h3>
                 <p>The App that lets you rank your favorite books.</p>
              </a> 
     <a class="col-md-6 project" href="https://salty-plains-22789.herokuapp.com/messages"> 
        <div class="thumbnail">
             <img alt="Project06" src="https://i.imgur.com/3dcR0py.png"/> 
              </div> 
                <h3>Messenger App</h3>
                 <p>The App that lets you interact with the People around you.</p>
              </a> 
      <a class="col-md-6 project" href="https://hidden-fortress-51890.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project07" src="https://i.imgur.com/tHmp63E.png"/> 
              </div> 
                <h3>BroadWay</h3>
                 <p>Desgin, Develop, Deploy: Make your projects look great and interact beautifully</p>
              </a> 
      <a class="col-md-6 project" href="http://runyorodictionary.com/"> 
        <div class="thumbnail">
             <img alt="Project08" src="https://i.imgur.com/E8z6Qgb.png"/> 
              </div> 
                <h3>Runyoro-Rutooro Dictionary</h3>
                 <p>An Online dictionary that translates the local Ugandan language, Runyoro-Rutooro to English</p>
              </a>    
      <a class="col-md-6 project" href="http://www.pnuaawa.org/"> 
        <div class="thumbnail">
             <img alt="Project09" src="https://i.imgur.com/3oX4caN.png"/> 
              </div> 
                <h3>Pacific NorthWest Uganda American Association (PNUAA)</h3>
                 <p>The Association brings Ugandans in Pacific Northwest together</p>
              </a>   
      <a class="col-md-6 project" href="https://quiet-island-55828.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project11" src="https://i.imgur.com/k7wnWwA.png"/> 
              </div> 
                <h3>Stories</h3>
                 <p>Share your favorite moments</p>
              </a>        
       </div>
    </div>  
                  