   
<div class="slider">
        <ul>
          <li><img src="https://i.imgur.com/M7aJvSj.png"></li>
          <li><img src="https://i.imgur.com/Wb0jHH8.png"></li>
          <li><img src="https://i.imgur.com/3dcR0py.png"></li>
          <li><img src="https://i.imgur.com/tHmp63E.png"></li>

          <li><img src="https://i.imgur.com/bUYSg9K.png"></li>
          <li><img src="https://i.imgur.com/2c8X3Ko.png"></li>
          <li><img src="https://i.imgur.com/BjrCBpl.png"></li>
          <li><img src="https://i.imgur.com/xktjMZN.png"></li>
          <li><img src="https://i.imgur.com/9EgtsTT.png"></li>

          <li><img src="https://i.imgur.com/3oX4caN.png"></li>
          <li><img src="https://i.imgur.com/njune4A.png"></li>

          <li><img src="https://i.imgur.com/E8z6Qgb.png"></li>
          <li><img src="https://i.imgur.com/et0X2mD.png"></li>
       </ul>
   </div>

<div class="container">
  <div class="row">
    <a class="col-md-6 project" href="https://secure-atoll-17420.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/M7aJvSj.png" /> 
              </div> 
                <h3>Bolt Network</h3>
                 <p>This App lets you get all your favorite movies on a go: Bolt !.</p>
              </a> 
     <a class="col-md-6 project" href="https://frozen-sands-84032.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/Wb0jHH8.png"/> 
              </div> 
                <h3>BookReview</h3>
                 <p>The App that lets you rank your favorite books.</p>
              </a> 
     <a class="col-md-6 project" href="https://salty-plains-22789.herokuapp.com/messages"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/3dcR0py.png" /> 
              </div> 
                <h3>Messenger App</h3>
                 <p>The App that lets you interact with the People around you.</p>
              </a> 
      <a class="col-md-6 project" href="https://hidden-fortress-51890.herokuapp.com/"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/tHmp63E.png" /> 
              </div> 
                <h3>BroadWay</h3>
                 <p>Desgin, Develop, Deploy: Make your projects look great and interact beautifully</p>
              </a> 
      <a class="col-md-6 project" href="http://runyorodictionary.com/"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/E8z6Qgb.png"/> 
              </div> 
                <h3>RunyoroDictionary</h3>
                 <p>A dictionary that translates the local Ugandan language, Runyoro to English</p>
              </a>    
      <a class="col-md-6 project" href="http://www.pnuaawa.org/"> 
        <div class="thumbnail">
             <img alt="Project01" src="https://i.imgur.com/3oX4caN.png"/> 
              </div> 
                <h3>Pacific NorthWest Uganda American Association (PNUAA)</h3>
                 <p>The Association brings Ugandans in Pacific Northwest together</p>
              </a>             
       </div>
    </div>  
                  