
<div class="container">
  <div class="main">
    <p>My name is <span>Akiiki K. Kasaija</span><br> and i love building Web and Mobile Applications </p>
    <a><%= link_to "View my Work", project_path, class: "btn btn-secondary" %></a>
  </div>
</div>


