
<div class="container">
  <div class="main">
    <p>My name is <span>Akiiki K. Kugonza</span><br> and i love building Web and Mobile Applications </p>
    <a><%= link_to "View my Work", project_path, class: "btn btn-secondary" %></a>
  </div>


<h3 style="text-align: center;">TIMELINE</h3>

<div class="timeline">
	<ul>
		<li>
			<div class="content">
				<h3>Graduated from Makerere University</h3>
				<p><a href = "http://statistics.mak.ac.ug/">Bachelors degree in Computing and Statistics</a></p>
			</div>
			<div class="time">
				<h4>Feb 2010</h4>
			</div>
		</li>
		<li>
			<div class="content">
				<h3>Consultant Data Comp</h3>
				<p>Data analysis using SPSS, STATA and SQL</p>
			</div>
			<div class="time">
				<h4>March 2010</h4>
			</div>
		</li>
		<li>
			<div class="content">
				<h3>Chamber IT</h3>
				<p>Monitoring Analyst for HP Tools</p>
			</div>
			<div class="time">
				<h4>Feb 2011</h4>
			</div>
		</li>
		<li>
			<div class="content">
				<h3>Enrolled in Codecademy</h3>
				<p><a href = "https://codecademy.com/">Gained Knowledge in HTML, CSS, JavaScript, AngularJS, JQuery, Ruby on rails, Java, Ruby and Building Web API's</a></p>
			</div>
			<div class="time">
				<h4>June 2012</h4>
			</div>
		</li>
		<li>
			<div class="content">
				<h3>Joined T-Mobile USA</h3>
				<p><a href = "https://www.t-mobile.com/">HP Tools Consultant for BSM, SiteScope, Loadrunner</a></p>
			</div>
			<div class="time">
				<h4>May 2014</h4>
			</div>
		</li>
		<li>
			<div class="content">
				<h3>Joined Fannie-mae</h3>
				<p><a href = "http://www.fanniemae.com/portal/index.html">Monitoring Analyst and HP SiteScope Consultant</a></p>
			</div>
			<div class="time">
				<h4>June 2016</h4>
			</div>
		</li>
		<li>
			<div class="content">
				<h3>Joined Pension Benefit Cooporation of America</h3>
				<p><a href = "https://www.pbgc.gov/">SME for HP Tools</a></p>
			</div>
			<div class="time">
				<h4>Sept 2017</h4>
			</div>
		</li>
		<div style="clear: both;"></div>
	</ul>
</div>



</div>