// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

/* Header Styling */
html, body {
  margin: 0;
  border: auto;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
}

.header {
  width: 85%;
  padding-left: 150px;
  /*position: absolute*/
}
.header ul {
  list-style: none;
  margin: 30px 0px;
}

.header li {
  list-style: none;
  display: inline-block;
  margin: 5px 5px;
  font-size: 20px;
  font-weight: bold;
}

span {
  background-color: #EAEFF4;
  color: #000;
}

.main {
  background-image: url("https://i.imgur.com/173x3ya.png");
  background-size: cover;
  height: 500px;
  padding-top: 150px;
  padding-left: 150px;
  width: 100%;
}
.main p {
  color: #fff;
  font-size: 40px;
  
}
.main a {
  color: #000;
  font-size: 20px;
  background-color: #000;
}

/* Welcome Page */

.main a {
  color: #000;
  background-color: #f1f1f1;
  border-radius: 0%;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(0, 230, 36,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(0, 230, 36,0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(0, 230, 36,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(0, 230, 36,0.2);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  color: rgba(0, 230, 36,1);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  
  position: absolute;
  top: 12px;
  right: -140px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(0, 230, 36,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(0, 230, 36,0.3);
}

.timeline ul li:nth-child(even) .time {
  
  position: absolute;
  top: 12px;
  left: -155px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(0, 230, 36,1); 
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(0, 230, 36,0.3);
}


/* Projects Page */


.slider { 
  overflow: hidden; 
  transition: height 0.2s linear;
  padding-left: 150px;
  height: 500px;
  width: 95%;
  }


.slider li { list-style: none; }
      .slider ul li { float: left;} 
        
.slider img {
  height: 500px;
  width: 95%;
}

.thumbnail {
  height: 200px;
}

.row img {
  height: 200px;
}

.row {
  width: 80%;
  margin-left: 100px;
  margin-top: 100px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .col-md-6 {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-md-6 {
        width: 100%;
    }
}

/* About Page */

.about {
  width: 80%;
  margin-left: 100px;
  margin-top: 100px;
}

.about img {
  width: 400px;
  height: 300px;
}

.about p {
  font-size: 20px;
}

/* Contact CSS */

#mail {
  height: 100px;
}

.contact {
  margin-left: 120px;
}

.contact-icons {
  margin-left: 120px;
  margin-top: 100px;

}

.contact-icons img {
 padding-left: 30px;

}
.contact-icons a:hover {
  font-size: 40px;
}

.fees {
  margin-left: 120px;
  margin-top: 50px;
}

/*
Family
*/

.formPassword {
  padding: 100px 400px;
}

#form1 img:hover {
  transform: scale(2.5);
}

/* Books Page */

.col-md-6.book:hover img  {
  transform: scale(2.0);
}

.container h2 {
  text-align: center;
  color: #1675C6;
}


/* 
footer CSS 
*/

.footer {
  margin-top: 200px;

}

.footer li {
  list-style: none;
  display: inline-block;
  margin: 5px 5px;
}
.footer img {
  width: 30px;
  height: 30px;
}

