// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Header Styling */
html, body {
  margin: 0;
  border: auto;
}

.container {
  width: 90%;
}

.header {
  width: 85%;
  padding-left: 150px;
  /*position: absolute*/
}
.header ul {
  list-style: none;
  margin: 30px 0px;
}

.header li {
  list-style: none;
  display: inline-block;
  margin: 5px 5px;
  font-size: 20px;
  font-weight: bold;
}

span {
  background-color: #EAEFF4;
  color: #000;
}

.main {
  background-image: url("https://i.imgur.com/173x3ya.png");
  background-size: cover;
  height: 500px;
  padding-top: 150px;
  padding-left: 150px;
  width: 100%;
}
.main p {
  color: #fff;
  font-size: 40px;
  
}
.main a {
  color: #000;
  font-size: 20px;
  background-color: #000;
}

/* Welcome Page */

.main a {
  color: #000;
  background-color: #f1f1f1;
  border-radius: 0%;
}

/* Projects Page */


.slider { 
  overflow: hidden; 
  transition: height 0.2s linear;
  padding-left: 150px;
  height: 500px;
  width: 95%;
  }


.slider li { list-style: none; }
      .slider ul li { float: left;} 
        
.slider img {
  height: 500px;
  width: 95%;
}

.thumbnail {
  height: 200px;
}

.row img {
  height: 200px;
}

.row {
  width: 80%;
  margin-left: 100px;
  margin-top: 100px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .col-md-6 {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-md-6 {
        width: 100%;
    }
}

/* About Page */

.about {
  width: 80%;
  margin-left: 100px;
  margin-top: 100px;
}

.about img {
  width: 400px;
  height: 300px;
}

.about p {
  font-size: 20px;
}

/* Contact CSS */

#mail {
  height: 100px;
}

.contact {
  margin-left: 120px;
}

.contact-icons {
  margin-left: 120px;
  margin-top: 100px;

}

.contact-icons img {
 padding-left: 30px;

}
.contact-icons a:hover {
  font-size: 40px;
}

.fees {
  margin-left: 120px;
  margin-top: 50px;
}

/*
Family
*/

.formPassword {
  padding: 100px 400px;
}

#form1 img:hover {
  transform: scale(2.5);
}


/* 
footer CSS 
*/

.footer {
  margin-top: 200px;

}

.footer li {
  list-style: none;
  display: inline-block;
  margin: 5px 5px;
}
.footer img {
  width: 30px;
  height: 30px;
}