.unslider{position: relative; overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>li{float:left}
.unslider-vertical>ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow {
	position:absolute;
	top: 50%;
	left:20px;
	z-index:2;
	cursor:pointer;
	/*visibility: hidden;*/
	font-size: 2em;
}
.unslider-arrow.next{
	left:auto;
	right:20px;

}
.fa-chevron-circle-left {
	position:absolute;
	top: 50%;
	left:60px;
	z-index:2;
	cursor:pointer;
	/*visibility: hidden;*/
	font-size: 2em;

	}
.fa-chevron-circle-right {
	position:absolute;
	top: 50%;
	right:40px;
	z-index:2;
	cursor:pointer;
	/*visibility: hidden;*/
	font-size: 2em;
}	
	/* Change the arrow styles
			You could also use an image instead

*/
		
/* Use dynamic content to add in a different character and show it */
.unslider-arrow:before {
	visibility: visible;
}
.unslider-arrow.prev:before {
	/*content:  '<<'; /*url("https://i.imgur.com/oN7QgPd.png");*/
    /*padding-left: 180px;*/
    
}
.unslider-arrow.next:before {
	/*content:  '>>'; /*url("https://i.imgur.com/hRsZydv.png");*/
    /*padding-right: 130px; 
}

